* {
  font-family: arial, sans-serif;
  color: #222;
  font-size: 13px;
}

#header {
  margin-top: 15px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
}

.apps-icon {
  max-width: 45%;
  display: block;
  margin-left: 4px;
}

.connection-button {
  background-color: #488AF7;
  border-radius: 2px;
  border-style: none;
  color: white;
  font-weight: bold;
  padding: 7px 9px;
  text-align: center;
}

#header li {
  padding-left: 14px;
}

#logo {
  margin-top: 160px;
  margin-bottom: 25px;
}

#logo img {
  width: 272px;
  height: 92px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.frog {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#search-bar form input {
  height: 39px;
  width: 480px;
  border: 1px solid #D2D2D2;
  border-width: thin;
  border-radius: 2px;
  font-size: 16px;
  padding-left: 15px;
}

#search-bar form input:hover {
  box-shadow: 1px 1px #D2D2D2;
}

.microphone {
  position:absolute;
  top:331px;
  left:690px;
  width:16px;
  height:23px;
}

.cta-button {
  margin: 3px;
  border-radius: 2px;
  background-color: #F4F4F4;
  color: #757575;
  border-style: none;
  font-weight: bold;
  padding: 13px;
}

input:focus {
  outline: none;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F2F2F2;
  color: white;
  text-align: center;
}
